.logo {
  height: 30px;
  position: relative;
  width: 49px;
}

.logo .text-wrapper {
  color: var(--black);
  font-family: "Epilogue", Helvetica;
  font-size: 20px;
  font-weight: 600;
  height: 30px;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}
