.header {
  align-items: center;
  background-color: #ffffff;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.header .div-2 {
  align-items: center;
  flex: 0 0 auto;
  position: relative;
}

.header .headline-subhead {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.header .headline-subhead-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.header .branding-image {
  color: var(--black);
  font-family: var(--subtitle-font-family);
  font-size: var(--subtitle-font-size);
  font-style: var(--subtitle-font-style);
  font-weight: var(--subtitle-font-weight);
  letter-spacing: var(--subtitle-letter-spacing);
  line-height: var(--subtitle-line-height);
  margin-top: -1px;
  position: relative;
}

.header .visual-designer {
  color: var(--black);
  position: relative;
}

.header .this-is-a-template {
  color: var(--black);
  font-family: var(--body-text-font-family);
  font-size: var(--body-text-font-size);
  font-style: var(--body-text-font-style);
  font-weight: var(--body-text-font-weight);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  position: relative;
}

.header .image {
  position: relative;
  width: 100%;
}

.header.property-desktop {
  flex-direction: column;
  padding: 100px;
}

.header.property-mobile {
  padding: 50px 30px 60px;
}

.header.property-desktop .div-2 {
  display: flex;
  gap: 28px;
  width: 1080px;
}

.header.property-mobile .div-2 {
  display: inline-flex;
  flex-direction: column;
  gap: 60px;
}

.header.property-desktop .headline-subhead {
  gap: 40px;
}

.header.property-mobile .headline-subhead {
  gap: 20px;
}

.header.property-desktop .headline-subhead-2 {
  gap: 40px;
}

.header.property-mobile .headline-subhead-2 {
  gap: 24px;
}

.header.property-desktop .branding-image {
  width: 557px;
}

.header.property-mobile .branding-image {
  text-align: center;
  width: 315px;
}

.header.property-desktop .visual-designer {
  font-family: "Epilogue", Helvetica;
  font-size: 80px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 90px;
  width: 557px;
}

.header.property-mobile .visual-designer {
  font-family: var(--h1-mobile-font-family);
  font-size: var(--h1-mobile-font-size);
  font-style: var(--h1-mobile-font-style);
  font-weight: var(--h1-mobile-font-weight);
  letter-spacing: var(--h1-mobile-letter-spacing);
  line-height: var(--h1-mobile-line-height);
  text-align: center;
  width: 315px;
}

.header.property-desktop .this-is-a-template {
  width: 557px;
}

.header.property-mobile .this-is-a-template {
  text-align: center;
  width: 315px;
}

.header.property-desktop .image {
  height: 100%;
  object-fit: cover;
}

.header.property-mobile .image {
  align-self: stretch;
  height: 269.82px;
}
