.work-card {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
}

.work-card .image-2 {
  background-color: #d9d9d9;
  height: 315px;
  position: relative;
  width: 315px;
}

.work-card .headline-subhead-4 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 315px;
}

.work-card .project-title {
  color: var(--black);
  font-family: var(--subtitle-font-family);
  font-size: var(--subtitle-font-size);
  font-style: var(--subtitle-font-style);
  font-weight: var(--subtitle-font-weight);
  letter-spacing: var(--subtitle-letter-spacing);
  line-height: var(--subtitle-line-height);
  margin-top: -1px;
  position: relative;
  width: 315px;
}

.work-card .UI-art-drection {
  color: var(--black);
  font-family: var(--body-text-font-family);
  font-size: var(--body-text-font-size);
  font-style: var(--body-text-font-style);
  font-weight: var(--body-text-font-weight);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  position: relative;
  width: 315px;
}
