.footer {
  align-items: center;
  background-color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.footer .footer-info {
  align-items: center;
  border-color: #00000033;
  border-top-style: solid;
  border-top-width: 2px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 70px;
  padding: 70px 0px 0px;
  position: relative;
}

.footer .footer-info-2 {
  align-items: flex-start;
  flex: 0 0 auto;
  position: relative;
}

.footer .contact-info {
  align-items: flex-start;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  position: relative;
}

.footer .footer-message {
  align-items: flex-start;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.footer .text-wrapper-7 {
  color: var(--black);
  font-family: var(--h2-font-family);
  font-size: var(--h2-font-size);
  font-style: var(--h2-font-style);
  font-weight: var(--h2-font-weight);
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  margin-top: -1px;
  position: relative;
}

.footer .this-is-a-template-2 {
  color: #2d2d2d;
  font-family: var(--body-text-font-family);
  font-size: var(--body-text-font-size);
  font-style: var(--body-text-font-style);
  font-weight: var(--body-text-font-weight);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  position: relative;
}

.footer .social-icons {
  height: 36px;
  position: relative;
  width: 232px;
}

.footer .nstagram {
  display: block;
  height: 36px;
  left: 147px;
  position: absolute;
  top: 0;
  width: 36px;
}

.footer .behance-2 {
  display: block;
  height: 36px;
  left: 196px;
  position: absolute;
  top: 0;
  width: 36px;
}

.footer .dribbble-3 {
  display: block;
  height: 36px;
  left: 98px;
  position: absolute;
  top: 0;
  width: 36px;
}

.footer .facebook {
  display: block;
  height: 36px;
  left: 49px;
  position: absolute;
  top: 0;
  width: 36px;
}

.footer .discord {
  display: block;
  height: 36px;
  left: 0;
  position: absolute;
  top: 0;
  width: 36px;
}

.footer .text-fields {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.footer .text-fields-2 {
  align-items: flex-start;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.footer .class-2 {
  flex: 0 0 auto !important;
  width: 315px !important;
}

.footer .button-instance {
  flex: 0 0 auto !important;
}

.footer.property-19-desktop {
  padding: 0px 100px 70px;
}

.footer.property-19-mobile {
  padding: 0px 30px 70px;
}

.footer.property-19-desktop .footer-info-2 {
  display: inline-flex;
  gap: 190px;
}

.footer.property-19-mobile .footer-info-2 {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 315px;
}

.footer.property-19-desktop .contact-info {
  display: inline-flex;
}

.footer.property-19-mobile .contact-info {
  display: flex;
  width: 315px;
}

.footer.property-19-desktop .footer-message {
  display: inline-flex;
}

.footer.property-19-mobile .footer-message {
  display: flex;
  width: 315px;
}

.footer.property-19-desktop .text-wrapper-7 {
  width: 360px;
}

.footer.property-19-mobile .text-wrapper-7 {
  width: 315px;
}

.footer.property-19-desktop .this-is-a-template-2 {
  width: 360px;
}

.footer.property-19-mobile .this-is-a-template-2 {
  width: 315px;
}

.footer.property-19-desktop .text-fields-2 {
  display: inline-flex;
}

.footer.property-19-mobile .text-fields-2 {
  display: flex;
  width: 315px;
}
